<mat-nav-list>
  <a mat-list-item (click)="onClose()" >
    <span fxFlex fxLayout fxLayoutAlign="end">
      <mat-icon>clear</mat-icon>
    </span>
  </a>
  <a mat-list-item href="https://angularcolorado.slack.com">
    <span class="nav-caption">Angular Colorado Slack Team</span>
  </a>
  <a mat-list-item href="https://www.meetup.com/RockyMountainAngular/">
    <span class="nav-caption">Rocky Mountain Angular Meetup</span>
  </a>
  <a mat-list-item href="https://www.meetup.com/angular-boulder/">
    <span class="nav-caption">Angular Boulder Meetup</span>
  </a>
  <a mat-list-item href="http://angulardenver.com" active>
    <span class="nav-caption">Angular Denver Conference 2018</span>
  </a>
</mat-nav-list>
