a span{
  text-decoration: none;
  color:#FFF;
}

a mat-icon{
  text-decoration: none;
  color:#FFF;
}

a:hover {
  color: #FFF;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}
mat-nav-list {
  background-color: #5C6BC0;
}
