mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 90%
}

mat-sidenav {
  width: 280px;
}

mat-sidenav {
  background-color: #5C6BC0;
}

.footer {
  height: 10%;
  background-color: #424242;
  color: #AAA;
  font-size: 14px;
  padding: 5px;
}
