<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation" position="end">
    <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<div fxLayoutAlign="center end" class="footer">
  Angular Colorado will not share your email, Slack terms & conditions apply. Please contact stevewitman@gmail.com with any questions.
</div>
