mat-form-field {
  width: 300px;
}

.slack-invite-message {
  color: black;
  background-color: #C5CAE9;
}

.slack-invite {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: white;
}

.slack-form {
  margin-top: 30px;
  text-align: center;
}

.invite-text {
  font-size: 28px;
}

.slack-logo {
  margin-bottom: -21px;
  margin-left: 5px;
  margin-right: 5px;
  height: 60px;
}

input:-webkit-autofill, input:focus:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
}

.slack-invite-sent {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
 }

.sent {
  color: #5C6BC0;
}

.note {
  color: #7986CB;
  font-size: 14px;
}

.help {
  color: black;
  font-size: 14px;
}
