<section class="slack-invite" *ngIf="!isSubmitted" @flyInOut>
  <div fxLayout="row" fxLayoutAlign="center center">
    <span class="invite-text">Join our <img class="slack-logo" src="assets/img/slack.png"> team</span>
  </div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="slack-form" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center" fxLayoutGap="20px" fxLayoutGap.gt-sm="45px">
      <section>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="First and Last Name"
            ngModel
            name="name"
            required
            >
          <mat-error>Name required.</mat-error>
        </mat-form-field>
      </section>
      <section>
        <mat-form-field>
          <input
            type="email"
            matInput
            placeholder="Email"
            ngModel
            name="email"
            email
            required
            #emailInput="ngModel">
          <mat-error *ngIf="emailInput.hasError('required')">Email required.</mat-error>
          <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid.</mat-error>
        </mat-form-field>
      </section>
      <section>
        <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Request Slack Team Invite</button>
      </section>
    </div>
  </form>
</section>

<section class="slack-invite-sent" *ngIf="isSubmitted"  @flyInOut>
  <div fxLayout="column" fxLayoutAlign="center">
    <p>Thank you <span class="sent">{{ inviteName }}</span>, please check your email (<span class="sent">{{ inviteEmail }}</span>) for your invite from Slack.</p>
    <p><span class="help">Note:</span><span class="note"> A new invite will NOT be sent if you have already requested an invite in the past.  Try logging in at <a href="https://angularcolorado.slack.com">angularcolorado.slack.com</a>.</span></p>
    <p><span class="help">For help, please contact stevewitman@gmail.com</span></p>
  </div>
</section>
